{% extends "auctions/layout.html" %} {% block body %}
<div style="height: 50vh;" class="d-flex flex-column align-items-center">
    <form method="post" enctype="multipart/form-data" class="d-flex flex-column h-100" style="width:fit-content;" action="{% url 'createListing' %}">
        <ul style="list-style: none; height: inherit;" class="d-flex flex-column justify-content-evenly">
          {% csrf_token %}
          {{ createListingForm.as_ul }}
        </ul>
      <button class="w-auto h-auto" type="submit">Create Listing</button>
    </form>
</div>
{% endblock %}
