{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<section class="d-flex col">
        <div style="width:50vw; height:100vh; background-color: #0f0f0f0f;">
            <img src="{{ Listing_image }}" alt="Product" />
        </div>
        <div class="d-flex flex-column justify-content-around align-items-end" style="height: 100vh; width: 50vw; padding:0px 10px;">
            <div class="d-flex flex-column" style="width: -webkit-fill-available;">
                <h1>
                    {{ Listing_name }}
                </h1>
                <small>
                    {{ Listing_category }}
                </small>
                <p class="align-self-end justify-self-center" style="height: 100%;">
                    {{ Listing_description }}
                </p>
                <div class="d-flex flex-column" style="width: -webkit-fill-available;">
                    <h2>Listing start time</h2>
                    <strong>
                        {{ Listing_endTime|time:"h:i:s" }}
                        <div>
                            {{ Listing_endTime|timeuntil }}
                        </div>
                    </strong>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-around align-items-end" style="width: -webkit-fill-available;">
                {% if now < Listing_endTime and Listing_status == 'Expired' %}
                    <h3>Listing Duration</h3>
                    <time>{{ Listing_duration|date:"SHORT_DATETIME_FORMAT" }}</time>
                    <div class="d-flex flex-column justify-content-evenly">
                    <h3>Add to watchlist</h3>
                        <form action="{% url 'addToWatchList' id=Listing_id %}" method="post">
                            {{ WatchlistForm }}
                        </form>
                    </div>
                    {% if error %}
                    <div>
                        {{ error|safe }}
                    </div>
                    {% endif %}

                    <h3>Listing Status</h3>
                    <small>
                        <div style="width: -webkit-fill-available;">
                            {{ Listing_status }}
                        </div>
                    </small>
                    <div class="d-flex flex-column justify-content-evenly">
                        <form action="{% url 'bidOnListing' id=Listing_id %}" method="post">
                            {{ BidForm }}
                             <button class="btn btn-outline-primary text-primary"  type="submit">submit</button>
                        </form>
                    </div>

                    {% if is_owner %}
                    <form method="POST" action="{% url 'closeListing' %}">
                        <div style="display:none;">{{ csrf_token }}</div>
                        <div class="d-flex flex-column">
                            {{ form }}
                        </div>
                    <button class="btn btn-outline-primary text-primary"  type="submit">Close auction</button>
                    </form>
                    {% else %}

                    {% endif %}

                {% else %}
                    <h3>Listing Duration</h3>
                    <p>00:00</p> 
                    <h3>Listing Status</h3>
                    <small>
                        <div style="width: -webkit-fill-available;">
                            {{ Listing_status }}
                        </div>
                    </small>
                    {% if user.is_authenticated %}
                    <div class="d-flex flex-column justify-content-evenly">
                        <form action="{% url 'bidOnListing' id=Listing_id user_id=user.user_id %}" method="post">
                            {% csrf_token %}
                            {{ BidForm }}
                             <button class="btn btn-outline-primary text-primary"  type="submit">submit</button>
                        </form>
                    </div>
                        {% for bid in bids%}
                                <div class="d-flex flex-column justify-content-evenly">
                                    <header>
                                        {{ bid.user_id_id }}
                                    </header>
                                    <article>
                                        {{ bid.bid_amount }}
                                    </article>
                                </div>
                        {% endfor %}
                        <div class="d-flex flex-column justify-content-evenly">
                            <form action="{% url 'createComment' id=Listing_id user_id=user.user_id %}" method="post">
                                {% csrf_token %}
                                {{ CommentForm }}
                                 <button class="btn btn-outline-primary text-primary" type="submit">submit</button>
                            </form>
                        </div>
                        {% for comment in comments %}
                        <div class="d-flex flex-column justify-content-evenly">
                            <header>
                                {{ comment.comment_owner_id_id }}
                            </header>
                            <article>
                                <p class="text-primary text-lg-start">{{ comment.Comment }}</p>
                            </article>
                        </div>
                        {% endfor %}
                    {% else %}
                            {{ bids.bid_amount }}
                    {% endif %}
                {% endif %}
            </div>                  
        <div>
<!-- trunk-ignore(prettier/SyntaxError) -->
</section>
<script>
    document.addEventListener('DOMContentloaded',(() => {
        if(new Date.now() > {{ Listing_endTime }})
    }))
</script>
{% endblock %}