{% extends "auctions/layout.html" %} {% block body %}
<main class="d-flex flex-row">
  <section class="vh-100">
    <div class="flex-shrink-0 px-3" style="width: 280px">
      <span class="fs-5 fw-semibold">
        <h2>Categories</h2>
      </span>
      {% for category in all_listings%}
      <a
        href="{% url 'returnCategory' category=category.Listing_category %}"
        class="list-group-item list-group-item-action py-6 my-4 lh-sm"
        aria-current="true"
      >
        <div
          class="d-flex flex-column w-100 align-items-center justify-space-evenly"
        >
          <strong
            style="width: 100%; justify-content: space-evenly"
            class="mb-1 py-2 d-flex flex-row justify-space-evenly"
          >
            {{ category.Listing_category }}
          </strong>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
  <section class="vh-100" style="width: 100%">
    <h2 class="pb-2">Active Listings</h2>
    <div
      class="px-4 d-flex flex-row justify-content-evenly"
      style="flex-wrap: wrap"
      id="listings-cards"
    >
      {% for listing in all_listings %}
      <div
        class="d-flex flex-row align-items-stretch g-4 py-2"
        style="width: fit-content"
      >
        <div class="col">
          <div
            class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="
              background-image: url(&quot;unsplash-photo-1.jpg&quot;);
              width: 400px;
              height: 200px;
            "
          >
            <div
              class="d-flex flex-column p-1 text-shadow-1"
              style="justify-content: space-between; height: 175px"
            >
              <h3 class="m-2 display-6 lh-1 fw-bold">
                <a href="{% url 'getListing' id=listing.listing_id %}">
                  {{ listing.Listing_name }}
                </a>
              </h3>
              <div
                style="justify-content: space-around; align-items: center"
                class="d-flex flex-row"
              >
                <ul class="d-flex list-unstyled">
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#geo-fill"></use>
                    </svg>
                    <small>{{ listing.Listing_category | safe }}</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#calendar3"></use>
                    </svg>
                    <small>{{ listing.Listing_duration | safe }}</small>
                  </li>
                </ul>
                <form
                  class="d-flex flex-row"
                  style="width: fit-content"
                  method="POST"
                  action="{% url 'addToWatchList' id=listing.listing_id user_id=user_id  %}"
                >
                  {% csrf_token %} {{ WatchlistForm }}
                  <button type="submit">add</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="vh-100">
    <div
      class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary"
      style="width: 380px"
    >
      <h2 class="fs-5 fw-semibold">Watchlist</h2>
        <div class="list-group list-group-flush border-bottom scrollarea">
          <a
            href="{% url 'getWatchList' %}"
            class="list-group-item list-group-item-action py-3 my-3 lh-sm"
            aria-current="true"
            disabled="true"
          >
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">No items in watchlist.</strong>
              <span class="badge bg-secondary">
                <small></small>
              </span>
            </div>
          </a>
        </div>
    </div>
  </section>
</main>
{% endblock %}
